<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>agenda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>teste.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controle</display-name>
    <servlet-name>Controle</servlet-name>
    <servlet-class>teste.Controller</servlet-class>
    <init-param>
      <description></description>
      <param-name>nome</param-name>
      <param-value>Diego</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>teste</param-name>
      <param-value>Teste</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controle</servlet-name>
    <url-pattern>/Controle</url-pattern>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
</web-app>